
<div class="container mt-5">
    <div class="row">
        <div class="col-12 col-md-8">
            
        <div class="titulo mb-2 col-12 d-flex justify-content-between">
            <h1>Blogs</h1>
           
        </div>
        
        <div class="col-12 col-md-12 blog-main" [attr.data-id]="blog.id" [routerLink]="['/main', 'blog', blog.id]"
            *ngFor="let blog of arrBlogs">
            <div class="row">
                <div class="col-3">
                    <img [src]="blog.thumb">
                </div>
                <div class="col-9">
                    <h3>{{blog.name}}</h3>
                    <div>
                        <p>{{blog.body | bodyBlogs}}...</p>
                        <h6><strong>Autor: </strong>{{blog.author.name}}</h6>
                        <!-- <button [routerLink]="['/blog', blog.id]" class="btn btn-outline-dark" [attr.data-id]="blog.id">Ver</button> -->
                    </div>
                </div>
        
            </div>
        
        </div>
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item">
                    <a [attr.data-pagina]="'prev'" class="page-link" (click)="cambiarPagina($event)" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li *ngIf="pagina > 1" class="page-item"><a class="page-link" [attr.data-pagina]=" 'next1'"
                        (click)="cambiarPagina($event)">{{pagina - 1}}</a></li>
                <li class="page-item"><a class="page-link current-page">{{pagina}}</a></li>
                <li class="page-item"><a class="page-link" [attr.data-pagina]="'next2'"
                        (click)="cambiarPagina($event)">{{pagina + 1}}</a></li>
                <li class="page-item">
                    <a class="page-link" [attr.data-pagina]="'next'" (click)="cambiarPagina($event)" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
        </div>
        
        <!--Columnda lateral-->
        <div class="col-12 col-md-4">
            <app-featured></app-featured>
            <app-pupulares></app-pupulares>
        </div>
        
    </div>
</div>